* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

button {
  font-family: "Rubik", sans-serif;
}

@media screen and (min-width: 1156px) {
  button:hover {
    cursor: pointer;
  }
}

input[type="text"],
input[type="submit"] {
  font-family: "Rubik", sans-serif;
}

.nb-bg {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .nb-bg {
    height: 138px;
  }
}

.nb-bg__nb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  position: relative;
  z-index: 2;
  max-width: 1116px;
}

.nb-bg__nb .logo .first-g path {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.nb-bg__nb .logo.open .first-g path {
  fill: white;
}

.nb-bg__nb .logo.open .second-g circle {
  fill: white;
}

.nb-bg__nb .logo.open .second-g path {
  fill: #252b46;
}

.nb-bg__nb ul {
  display: none;
  list-style: none;
}

.nb-bg__nb ul li {
  margin-left: 46px;
}

.nb-bg__nb ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #252b46;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  letter-spacing: 2px;
}

@media screen and (min-width: 1156px) {
  .nb-bg__nb ul li a {
    font-size: 1.4rem;
  }
}

.nb-bg__nb ul li a:hover {
  color: #fa5757;
}

.nb-bg__nb ul li:last-child a {
  color: white;
  background: #fa5757;
  border-radius: 5px;
  padding: 10px 33px;
  -webkit-box-shadow: 0px 5px 6px #e4e4e4;
          box-shadow: 0px 5px 6px #e4e4e4;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  border: 2px solid #fa5757;
}

.nb-bg__nb ul li:last-child a:hover {
  background: white;
  border: 2px solid #fa5757;
  color: #fa5757;
}

@media screen and (min-width: 768px) {
  .nb-bg__nb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nb-bg__nb__hamburger {
  width: 17px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nb-bg__nb__hamburger {
    display: none;
  }
}

.nb-bg__nb__hamburger span {
  background: #252b46;
  width: 100%;
  height: 3px;
  display: block;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.nb-bg__nb__hamburger.open span {
  background: white;
}

.nb-bg__nb__hamburger.open span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 18px 0px;
          transform-origin: 18px 0px;
}

.nb-bg__nb__hamburger.open span:nth-child(2) {
  opacity: 0;
}

.nb-bg__nb__hamburger.open span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  top: 12.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85%;
}

.mobile-menu a {
  opacity: 0;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.mobile-menu a::before {
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.445);
  position: absolute;
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
}

.mobile-menu a:first-child {
  -webkit-animation: links-fade 300ms ease 0.2s forwards;
          animation: links-fade 300ms ease 0.2s forwards;
}

.mobile-menu a:nth-child(2) {
  -webkit-animation: links-fade 300ms ease 0.4s forwards;
          animation: links-fade 300ms ease 0.4s forwards;
}

.mobile-menu a:nth-child(3) {
  -webkit-animation: links-fade 300ms ease 0.6s forwards;
          animation: links-fade 300ms ease 0.6s forwards;
}

.mobile-menu a:last-child {
  border: 2px solid white;
  height: 45px;
  margin-top: 25px;
  -webkit-animation: links-fade 300ms ease 0.8s forwards;
          animation: links-fade 300ms ease 0.8s forwards;
  border-radius: 5px;
}

.mobile-menu a:last-child::before {
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.445);
  position: absolute;
  -webkit-transform: translateY(-49px);
          transform: translateY(-49px);
}

@-webkit-keyframes links-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes links-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobile-menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-bg {
  margin-top: 37px;
  height: auto;
}

@media screen and (min-width: 1156px) {
  .h-bg {
    position: relative;
    margin-top: 65px;
  }
}

@media screen and (min-width: 1156px) {
  .h-bg__h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
    margin: auto;
    max-width: 1116px;
  }
}

.h-bg__h__content {
  position: relative;
  height: auto;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__content {
    position: static;
    width: 500px;
  }
}

.h-bg__h__content__hero {
  background: url("../images/illustration-hero.svg");
  height: 247px;
  width: 100%;
  background-size: 361px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__content__hero {
    height: 386px;
    background-size: cover;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    width: 134%;
    height: 478px;
  }
}

@media screen and (max-width: 374px) {
  .h-bg__h__content__hero {
    background-size: 100%;
    width: 85%;
  }
}

.h-bg__h__content__blue {
  position: absolute;
  right: 0;
  height: 210px;
  width: 80%;
  background-color: #5368df;
  top: 22%;
  border-radius: 120px 0px 0px 120px;
  z-index: -1;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__content__blue {
    height: 353px;
    width: 37%;
    top: 31%;
  }
}

.h-bg__h__text {
  width: 85%;
  margin: 45px auto 0px auto;
  text-align: center;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__text {
    text-align: left;
    width: 44%;
    margin: 0px;
    margin-top: 72px;
  }
}

.h-bg__h__text h1 {
  font-size: 2.8rem;
  color: #252b46;
  font-weight: 500;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__text h1 {
    font-size: 4.6rem;
  }
}

.h-bg__h__text p {
  font-size: 1.6rem;
  padding: 28px 0px;
  color: #9194a1;
  line-height: 1.5;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__text p {
    font-size: 1.8rem;
  }
}

.h-bg__h__text__btn-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__text__btn-grp {
    width: 69%;
  }
}

.h-bg__h__text__btn-grp button {
  font-size: 1.6rem;
  border: none;
  padding: 16px 16px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 6px #e4e4e4;
          box-shadow: 0px 5px 6px #e4e4e4;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__text__btn-grp button {
    padding: 16px 20px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    cursor: pointer;
  }
}

.h-bg__h__text__btn-grp button:first-child {
  border: 2px solid #5368df;
  background: #5368df;
  color: white;
}

@media screen and (min-width: 1156px) {
  .h-bg__h__text__btn-grp button:first-child:hover {
    color: #5368df;
    background-color: white;
  }
}

.h-bg__h__text__btn-grp button:last-child {
  background-color: #eeeeee;
  color: #252b46;
  border: 2px solid #eeeeee;
}

.h-bg__h__text__btn-grp button:last-child:hover {
  background-color: white;
  border: 2px solid #252b46;
}

.f-bg {
  margin-top: 126px;
}

@media screen and (min-width: 1156px) {
  .f-bg {
    position: relative;
  }
}

.f-bg__f__intro {
  width: 85%;
  margin: auto;
  text-align: center;
  max-width: 1116px;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 37%;
  }
}

.f-bg__f__intro h2 {
  font-size: 2.4rem;
  color: #252b46;
  font-weight: 500;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__intro h2 {
    font-size: 2.8rem;
  }
}

.f-bg__f__intro p {
  font-size: 1.6rem;
  color: #9194a1;
  line-height: 1.5;
  padding: 28px 0px;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__intro p {
    font-size: 1.8rem;
  }
}

.f-bg__f__select {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__select {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
}

.f-bg__f__select button {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #9194a1;
  padding: 19px 0px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 128, 0.538)), to(rgba(128, 128, 128, 0.538)));
  background: linear-gradient(to right, rgba(128, 128, 128, 0.538), rgba(128, 128, 128, 0.538));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 0% 3px;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__select button {
    background-size: 100% 1px;
    width: 250px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
}

@media screen and (min-width: 1156px) {
  .f-bg__f__select button:hover {
    color: #fa5757;
  }
}

.f-bg__f__select button.active {
  background: -webkit-gradient(linear, left top, right top, from(#fa5757), to(#fa5757));
  background: linear-gradient(to right, #fa5757, #fa5757);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 3px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__select button.active {
    background-size: 350px 3px;
    -webkit-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
  }
}

.f-bg__f__select span {
  width: 100%;
  height: 1px;
  background: #9194a1;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__select span {
    display: none;
  }
}

.f-bg__f__sl-c {
  position: relative;
  margin-top: 58px;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    max-width: 1116px;
    position: static;
    margin: 7px auto 0px auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 414px;
  }
}

.f-bg__f__sl-c__blue {
  position: absolute;
  left: 0;
  height: 210px;
  width: 80%;
  background-color: #5368df;
  top: 17%;
  border-radius: 0px 120px 120px 0px;
  z-index: -1;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__blue {
    width: 43%;
    height: 347px;
    top: 61%;
  }
}

.f-bg__f__sl-c__s {
  height: 207px;
  width: 100%;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__s {
    height: 322px;
    width: 69%;
  }
}

.f-bg__f__sl-c__s__tab {
  height: 276px;
  width: 100%;
  background-size: 318px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  position: absolute;
  opacity: 0;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__s__tab {
    margin: 0;
    background-size: 89%;
    height: 475px;
    width: 601px;
    left: 9%;
  }
}

.f-bg__f__sl-c__s__tab.tab1 {
  background-image: url("../images/illustration-features-tab-1.svg");
}

.f-bg__f__sl-c__s__tab.tab2 {
  background-image: url("../images/illustration-features-tab-2.svg");
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__s__tab.tab2 {
    margin-top: 10px;
    background-size: 75%;
    left: 14%;
  }
}

.f-bg__f__sl-c__s__tab.tab3 {
  background-image: url("../images/illustration-features-tab-3.svg");
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__s__tab.tab3 {
    margin-top: 5px;
    background-size: 75%;
    left: 12%;
  }
}

.f-bg__f__sl-c__s__tab.active {
  -webkit-animation: slider-fade 500ms ease forwards;
          animation: slider-fade 500ms ease forwards;
}

@media screen and (max-width: 374px) {
  .f-bg__f__sl-c__s__tab.active {
    background-size: 100%;
    width: 85%;
    height: 300px;
    left: 7.5%;
  }
}

@-webkit-keyframes slider-fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slider-fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.f-bg__f__sl-c__t {
  margin-top: 131px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  height: 153px;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__t {
    text-align: left;
  }
}

.f-bg__f__sl-c__t__tab {
  position: absolute;
  opacity: 0;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__t__tab {
    width: 71%;
  }
}

.f-bg__f__sl-c__t__tab h2 {
  font-size: 2.4rem;
  color: #252b46;
  font-weight: 500;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__t__tab h2 {
    font-size: 2.8rem;
  }
}

.f-bg__f__sl-c__t__tab p {
  font-size: 1.6rem;
  padding: 28px 0px;
  line-height: 1.5;
  color: #9194a1;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__t__tab p {
    font-size: 1.8rem;
  }
}

.f-bg__f__sl-c__t__tab button {
  text-align: center;
  padding: 13px 29px;
  border: none;
  background-color: #5368df;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
  -webkit-box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
          box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
}

.f-bg__f__sl-c__t__tab.active {
  -webkit-animation: text-fade 500ms ease-in-out forwards;
          animation: text-fade 500ms ease-in-out forwards;
}

@media screen and (min-width: 1156px) {
  .f-bg__f__sl-c__t__tab.active {
    margin-left: 180px;
  }
}

@-webkit-keyframes text-fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes text-fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.s-bg {
  width: 100%;
  margin-top: 129px;
}

@media screen and (min-width: 1156px) {
  .s-bg {
    margin-top: 200px;
  }
}

.s-bg__i-m {
  text-align: center;
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 1156px) {
  .s-bg__i-m {
    width: 38%;
  }
}

.s-bg__i-m h2 {
  font-size: 2.4rem;
  color: #252b46;
  font-weight: 500;
}

@media screen and (min-width: 1156px) {
  .s-bg__i-m h2 {
    font-size: 2.8rem;
  }
}

.s-bg__i-m p {
  padding: 24px 0px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #9194a1;
}

@media screen and (min-width: 1156px) {
  .s-bg__i-m p {
    font-size: 1.8rem;
  }
}

.s-bg__c-c {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1156px) {
  .s-bg__c-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 67%;
    max-width: 1116px;
    margin: auto;
    height: 492px;
  }
}

.s-bg__c-c__browser {
  height: 350px;
  width: 280px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  -webkit-box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
          box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-bg__c-c__browser .browser-icon {
  margin-top: 40px;
  margin-bottom: 27px;
}

.s-bg__c-c__browser h6 {
  font-size: 2.2rem;
  color: #252b46;
  margin-bottom: 16px;
}

.s-bg__c-c__browser span {
  font-size: 1.6rem;
  color: #9194a1;
  margin-bottom: 32px;
}

.s-bg__c-c__browser .dots {
  margin-bottom: 18px;
}

.s-bg__c-c__browser button {
  background-color: #5368df;
  border: none;
  font-size: 1.6rem;
  color: white;
  padding: 13px 29px;
  border: 2px solid #5368df;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
          box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
}

@media screen and (min-width: 1156px) {
  .s-bg__c-c__browser button {
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    cursor: pointer;
  }
}

@media screen and (min-width: 1156px) {
  .s-bg__c-c__browser button:hover {
    background-color: white;
    color: #5368df;
  }
}

@media screen and (min-width: 1156px) {
  .s-bg__c-c__browser:nth-child(2) {
    -webkit-transform: translateY(37px);
            transform: translateY(37px);
  }
}

@media screen and (min-width: 1156px) {
  .s-bg__c-c__browser:last-child {
    -webkit-transform: translateY(calc(37px * 2));
            transform: translateY(calc(37px * 2));
  }
}

.faq-bg {
  height: auto;
  width: 100%;
  margin-top: 129px;
}

.faq-bg__i-m {
  width: 85%;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 1156px) {
  .faq-bg__i-m {
    width: 39%;
  }
}

.faq-bg__i-m h2 {
  font-size: 2.4rem;
  color: #252b46;
  font-weight: 500;
}

@media screen and (min-width: 1156px) {
  .faq-bg__i-m h2 {
    font-size: 2.8rem;
  }
}

.faq-bg__i-m p {
  font-size: 1.6rem;
  color: #9194a1;
  line-height: 1.5;
  padding: 24px 0px;
}

@media screen and (min-width: 1156px) {
  .faq-bg__i-m p {
    font-size: 1.8rem;
  }
}

.faq-bg__q-sec {
  margin-top: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1156px) {
  .faq-bg__q-sec {
    width: 39%;
  }
}

.faq-bg__q-sec__question {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(195, 195, 195, 0.551)), to(rgba(195, 195, 195, 0.551)));
  background-image: linear-gradient(to right, rgba(195, 195, 195, 0.551), rgba(195, 195, 195, 0.551));
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
  margin-top: 20px;
  height: 40px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.faq-bg__q-sec__question.open {
  height: auto;
}

.faq-bg__q-sec__question button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #252b46;
  font-size: 1.4rem;
  text-align: left;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1156px) {
  .faq-bg__q-sec__question button {
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    cursor: pointer;
  }
}

@media screen and (min-width: 1156px) {
  .faq-bg__q-sec__question button:hover {
    color: #fa5757;
  }
}

.faq-bg__q-sec__question button svg {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.faq-bg__q-sec__question button svg path {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.faq-bg__q-sec__question button svg.open {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.faq-bg__q-sec__question button svg.open path {
  stroke: #fa5757;
}

.faq-bg__q-sec__question__answer {
  opacity: 0;
  display: none;
}

.faq-bg__q-sec__question__answer.open {
  opacity: 1;
  display: block;
}

.faq-bg__q-sec__question__answer p {
  font-size: 1.6rem;
  padding: 29px 0px;
  line-height: 1.5;
  color: #9194a1;
}

.faq-bg__more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq-bg__more-info button {
  text-align: center;
  padding: 13px 29px;
  border: none;
  background-color: #5368df;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
  -webkit-box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
          box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.248);
}

.foo-bg {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.foo-bg__contact-bg {
  background-color: #5368df;
}

.foo-bg__contact-bg__contact {
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 52px;
  height: auto;
  position: relative;
}

@media screen and (min-width: 1156px) {
  .foo-bg__contact-bg__contact {
    padding-bottom: 65px;
  }
}

.foo-bg__contact-bg__contact span {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.869);
  letter-spacing: 5px;
}

.foo-bg__contact-bg__contact h6 {
  font-size: 2.4rem;
  color: white;
  font-weight: 500;
  margin-top: 16px;
}

@media screen and (min-width: 1156px) {
  .foo-bg__contact-bg__contact h6 {
    font-size: 2.8rem;
    width: 33%;
    margin: 40px auto 0px auto;
  }
}

.foo-bg__contact-bg__contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}

@media screen and (min-width: 1156px) {
  .foo-bg__contact-bg__contact__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 32px auto 0px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 37%;
    position: relative;
    max-width: 450px;
  }
}

.foo-bg__contact-bg__contact__form input[type="text"] {
  border: none;
  padding: 16px;
  border-radius: 4px;
  border: 3px solid white;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1156px) {
  .foo-bg__contact-bg__contact__form input[type="text"] {
    width: 66%;
    padding: 12px;
  }
}

.foo-bg__contact-bg__contact__form input[type="text"].invalid {
  border: 3px solid #fa5757;
}

.foo-bg__contact-bg__contact__form input[type="text"]:focus {
  outline: none;
}

.foo-bg__contact-bg__contact__form .alert-icon.alert {
  display: block;
}

.foo-bg__contact-bg__contact__form .alert-icon {
  display: none;
  position: absolute;
  z-index: 2;
  right: 5%;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

@media screen and (min-width: 1156px) {
  .foo-bg__contact-bg__contact__form .alert-icon {
    right: 37%;
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
}

.foo-bg__contact-bg__contact__form .alert-none.alert {
  display: block;
}

.foo-bg__contact-bg__contact__form .alert-none {
  display: none;
  height: 30px;
  width: 100%;
  background-color: #fa5757;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  position: relative;
  z-index: 0;
  border-radius: 0px 0px 6px 6px;
  color: rgba(255, 255, 255, 0.91);
  padding-top: 9px;
  text-align: left;
  padding-left: 16px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

@media screen and (min-width: 1156px) {
  .foo-bg__contact-bg__contact__form .alert-none {
    position: absolute;
    width: 66%;
    bottom: -70%;
  }
}

.foo-bg__contact-bg__contact__form input[type="submit"] {
  background-color: #fa5757;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 4px;
  font-size: 1.6rem;
  margin-top: 14px;
  border: 2px solid #fa5757;
}

@media screen and (min-width: 1156px) {
  .foo-bg__contact-bg__contact__form input[type="submit"] {
    margin-top: 0px;
    padding: 12px 24px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    cursor: pointer;
  }
}

.foo-bg__contact-bg__contact__form input[type="submit"]:hover {
  background-color: white;
  color: #fa5757;
}

.foo-bg__footer-links-bg {
  background-color: #252b46;
  height: auto;
}

.foo-bg__footer-links-bg__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px 36px 0px;
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
    margin: auto;
    max-width: 1116px;
  }
}

.foo-bg__footer-links-bg__inside .logo .first-g path {
  fill: white;
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside .logo {
    margin-right: 80px;
  }
}

.foo-bg__footer-links-bg__inside__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 0px 41px 0px;
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    width: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: auto;
  }
}

.foo-bg__footer-links-bg__inside__links a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside__links a {
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside__links a:hover {
    color: #fa5757;
  }
}

.foo-bg__footer-links-bg__inside__links a:nth-child(2) {
  margin-top: 29px;
  margin-bottom: 29px;
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside__links a:nth-child(2) {
    margin: 0px;
  }
}

.foo-bg__footer-links-bg__inside__socmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside__socmed {
    width: 80px;
  }
  .foo-bg__footer-links-bg__inside__socmed svg {
    cursor: pointer;
  }
  .foo-bg__footer-links-bg__inside__socmed svg path {
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
}

@media screen and (min-width: 1156px) {
  .foo-bg__footer-links-bg__inside__socmed svg:hover path {
    fill: #fa5757;
  }
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: #252b46;
  position: fixed;
  z-index: 1;
  opacity: 0;
  display: none;
  top: 0%;
  -webkit-animation: overlay-fade-in 500ms ease forwards;
          animation: overlay-fade-in 500ms ease forwards;
}

.overlay.open {
  display: block;
  opacity: 0;
}

.overlay__soc-med {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85px;
}

@-webkit-keyframes overlay-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes overlay-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
/*# sourceMappingURL=style.css.map */